.btn-main
  border-radius: 100px
  background-color: #8d81ac!important
  border: none

.social-btn
  width: 100%
  max-width: 280px
  border: none
  font-size: 21px

.social-btn__github
  background-color: #f3f3f3!important
  color: #000000!important

.social-btn__twitter
  font-size: 21px
  color: #d4d4d4!important

.social-btn__facebook
  background-color: #3b5998!important
  color: #d4d4d4!important

