.feature
  padding-top: 50px
  background-color: #f4f4f4
  &__title
    margin-bottom: 60px
    font-size: $big-font-size
    font-weight: 700
    color: #8d81ac
    line-height: 54px
  &__text-wrap
    margin-bottom: 45px
  &__subtitle
    margin-bottom: 20px
    font-size: $small-font-size
    color: #323232
  &__text
    font-family: $second-font-family
    font-size: $tiny-font-size
    color: #848e97
    line-height: 21px
  &__img-code
    position: relative
    top: 50px
    height: 580px
    background: url("../img/feature-img-code.png") no-repeat left
    box-shadow: 0 0 25px rgba(0, 5, 5, 0.3)




